<div v-deep v-bind="$attrs" ref="my" class="component-root">
    <h1 style="margin-top: 0;">下载文件</h1>
    <p style="margin-top: 0;" v-if="!files_to_download.length">在“文件列表”中选择文件以下载。</p>
    <div v-else-if="!hasInit" style="display: flex; flex-direction: column;">
        <div>在开始下载 {{ files_to_download.length }} 个文件前，请先完成以下表单。 </div>
        <label v-deep class="form-item">
            <span>下载类型:</span>
            <ElRadioGroup v-model="dltype">
                <ElRadio value="1">临时链接 (<b>推荐</b>)</ElRadio>
                <ElRadio value="2">永久链接 (需服务器允许公共访问)</ElRadio>
            </ElRadioGroup>
        </label>
        <label v-deep class="form-item" v-if="dltype === '1'" v-show="!false">
            <span>链接生效时间:</span>
            <ElRadioGroup v-model="linkstart">
                <ElRadio value="1">立即</ElRadio>
                <ElRadio value="2">手动指定</ElRadio>
            </ElRadioGroup>
        </label>
        <div v-if="dltype === '1' && linkstart === '2'" style="line-height: calc(1em + 20px);" v-deep><b>* 此功能不稳定！</b>除特殊需求外强烈不推荐使用此选项，<code v-deep>签名URL的起始时间，为避免时钟误差，允许向后偏移15分钟</code>，参见<a href="https://help.aliyun.com/zh/oss/developer-reference/add-signatures-to-urls" target="_blank" rel="noopener noreferrer">文档</a></div>
        <div v-if="dltype === '1' && linkstart === '2'" style="margin-top: 5px;" v-deep>不早于&nbsp;<ElDatePicker v-model="linktime_start" type="datetime" placeholder="输入日期时间..." /></div>
        <label v-deep class="form-item" v-if="dltype === '1'">
            <span>链接有效期 (秒):</span>
            <ElInput type="number" v-model="linktime" :min="1" :max="604800" placeholder="在 1~604800 之间" />
        </label>
        <div v-if="dltype === '1'" style="margin-top: 5px;" v-deep><ElSegmented v-model="linktime_prefilled" :options="linktime_prefill_options" size="small" /></div>
        <label v-deep class="form-item">
                <span>使用文件预览器以避免兼容性问题<sup>**</sup>:</span>
            <ElTooltip effect="dark" :content="'计费提示: 需获取对象信息，将按 GET 类请求计费，请按需使用\n\n功能提示: 如果需要使用第三方软件查看内容，请不要选择此项'" placement="top">
                <ElCheckbox v-model="useBuiltinPreview">使用</ElCheckbox>
            </ElTooltip>
        </label>
        <div class="form-item" v-deep>
            <ElButton type="primary" plain @click="getlink" size="large">获取链接</ElButton>
        </div>
    </div>
    <ElTable v-else v-deep :data="files_to_download" border style="width:100%;flex:1;" ref="table">
        <ElTableColumn type="selection" width="40" />
        <ElTableColumn prop="name" label="文件名" width="300" />
        <ElTableColumn prop="type" label="链接类型" width="110" />
        <ElTableColumn v-if="dltype === '1' && linkstart === '2'" prop="not_before" label="不早于" width="180" />
        <ElTableColumn prop="time" :label="(dltype === '1' && linkstart === '2') ? '不晚于' : '有效期至'" width="180" />
        <ElTableColumn prop="link" label="文件链接" width="4000" />
        <ElTableColumn fixed="right" label="操作" width="80">
            <template #default="scope">
                <span style="float: right; display: flex; flex-direction: column;">
                    <ElButton type="success" plain @click="copyItem(scope.$index)">复制</ElButton>
                    <ElButton type="success" plain @click="openItem(scope.$index)" style="margin-left: 0; margin-top: 5px;">打开</ElButton>
                </span>
            </template>
        </ElTableColumn>
        <template #empty>
            <span>没有文件</span>
        </template>
    </ElTable>

    <style>
    .component-root>>> {
        overflow: auto;
    }
    .form-item>>> {
        margin-top: 0.5em;
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .form-item[v-deep] > span:nth-child(1) {
        margin-right: 0.5em;
    }
    code>>> {
        padding: 5px;
        background: #f0f0f0;
        border-radius: 5px;
        border: 1px solid #aaa;
    }
    </style>
</div>