<div v-deep v-bind="$attrs" ref="my">
    <div class="top-view" v-deep>
        <div v-deep>
            <ElButton size="small" @click="operate('dl')">下载/获取链接</ElButton>
            <ElButton size="small" @click="operate('meta')">元数据</ElButton>
            <ElButton size="small"><ElTooltip effect=dark content="此功能已弃用，不再继续维护。"><ElCheckbox size="small" v-model="showAll">显示所有文件</ElCheckbox></ElTooltip></ElButton>
        </div>
        <div v-deep style="margin-top: 0.5em;" v-if="!showAll">
            <ElButton size="small" @click="operate('newdir')">新建文件夹</ElButton>
            <ElButton size="small" type="danger" plain @click="operate('delete')">删除</ElButton>
            <ElButton size="small" @click="$emit('goPath')">
                <ElIcon>
                    <RefreshLeft />
                </ElIcon>
            </ElButton>
        </div>
    </div>
    <ExplorerNavBar :path="path" @openPath="goPath" />
    <div class="bottom-view" v-deep style="display: flex; flex-direction: column; overflow: hidden; flex: 1;">
        <ElTable :data="file_list" border style="width:100%;flex:1;margin-bottom:10px"  ref="table"
            :default-sort="{ prop: 'name' }"
            @row-click="toggleRowSelection"
        >
            <ElTableColumn type="selection" width="40" />
            <ElTableColumn show-overflow-tooltip sortable prop="name" label="文件名" width="400">
                <template #default="scope">
                    <template v-if="scope.row.dir">
                        <div v-deep class="is-item item-type-dir"><a href="javascript:" @click.prevent.stop="$emit('goPath', path + scope.row.name + '/')">{{scope.row.name}}</a></div>
                    </template>
                    <template v-else>
                        <div v-deep class="is-item item-type-file">{{scope.row.name}}</div>
                    </template>
                </template>
            </ElTableColumn>
            <ElTableColumn show-overflow-tooltip sortable prop="size" label="文件大小" width="110" />
            <ElTableColumn show-overflow-tooltip sortable prop="time" label="修改时间" width="180" />
            <ElTableColumn show-overflow-tooltip sortable prop="type" label="文件类型" width="120" />
            <ElTableColumn show-overflow-tooltip sortable prop="class" label="存储类型" width="110" />
            <template #empty>
                <span>没有文件</span>
            </template>
        </ElTable>

        <ElPagination small
            layout="total, prev, pager, next, jumper"
            v-model:current-page="currentPage"
            :total="total_files"
            :page-size="pageSize"
            @current-change="onCurrentChange"
            style="place-content:center" />
    </div>

    <dialog ref="downloadFolderDialog" @cancel.prevent>
        <h1 style="margin-top: 0; text-align: center;">下载文件夹</h1>
        <div style="margin-bottom: 0.5em;"><a href="javascript:" @click.prevent="getContentLinkOnly">仅获取链接(逐个下载)</a></div>
        <div v-if="fsapiNotSupported">您的浏览器不支持文件夹下载。<a href="#" @click.prevent="$refs.downloadFolderDialog.close()">取消</a></div>
        <template v-else>
            <div><a href="#" @click.prevent="getSaveToDir">保存到文件夹</a></div>
        </template>
    </dialog>

<style v-deep>
style>>> {
    display: none !important;
}
.is-item>>> {
    display: flex;
    align-items: center;
}
.is-item>>>::before {
    content: "";
    display: block;
    width: var(--size); height: var(--size); min-width: var(--size); min-height: var(--size);
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    object-fit: contain;
    --size: 16px;
}
.is-item.item-type-dir>>>::before {
    background-image: url(./assets/img/shell/folder.png);
}
.is-item.item-type-file>>>::before {
    background-image: url(./assets/img/shell/file.png);
}
</style>
</div>